<h2>新規記事作成</h2>

<% if @blog.errors.any? %>
<%= @blog.errors.count %>個のエラーがあります。<br>
<% @blog.errors.full_messages.each do |msg| %>
<%= msg %><br>
<% end %>
<% end %>

<%= form_for @blog do |f| %>
    <table>
        <tr>
            <th><%= f.label "タイトル" %></th>
            <td><%= f.text_field :title %></td>
        </tr>
        <tr>
            <th><%= f.label "内容" %></th>
            <td><%= f.text_area :content %></td>
        </tr>
        <tr>
            <td><%= f.submit "保存" %></td>
        </tr>
        
    </table>
<% end %>