<h2>記事詳細</h2>
<table>
    <tr>
        <th>タイトル</th>
        <td><%= @blog.title %></td>
    </tr>
    <tr>
        <th>内容</th>
        <td><%= @blog.content %></td>
    </tr>
    <tr>
        <% if current_user.id == @blog.user_id %>
        <td><%= link_to "Edit", edit_blog_path %></td>
        <td><%= link_to "Delete", blog_path(@blog.id), method: "delete", "data-confirm" => "削除しますか？" %></td>
        <% end %>
    </tr>
</table>


<%= render partial: 'comments/form', locals: { comment: @blog.content }  %>
<div id="comments_area">
<%= render partial: 'comments/index', locals: { comments: @comments } %>
</div>