<div class="container text-center">
<h2>記事詳細</h2>
    <p>
        <h5>タイトル</h5>
        <%= @blog.title %>
    </p>

    <p>
        <h5>内容</h5>
        <%= @blog.content %>
    </p>
        <% if current_user.id == @blog.user_id %>
    <p>
        <%= link_to "Edit", edit_blog_path %>
        <%= link_to "Delete", blog_path(@blog.id), method: "delete", "data-confirm" => "削除しますか？" %>
    </p>
        <% end %>
</div>



<%= render partial: 'comments/form', locals: { comment: @comment }  %>

<div id="comments_area">
<%= render partial: 'comments/index', locals: { comments: @blog.comments } %>
</div>