<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-3 col-md-3">
<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div><!--/.col-lg-3 col-md-3 col-sm-3 col-xs-12 -->
</div><!--/.row -->
</div><!--/.container --> 

<body>

	<!--header-->
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 hidden-xs">
					<span class="guide"> Header </span>
				</div>
			</div>
		</div>
	</div>
	<!--//header-->

	<!--headerNav-->
	<div class="container">
		<div class="row">
			<a href="#"><div class="col-xs-1 col-sm-6 col-md-3 headerBtn">Menu1</div></a>
			<a href="#"><div class="col-xs-12 col-sm-6 col-md-3 headerBtn">Menu2</div></a>
			<a href="#"><div class="col-xs-12 col-sm-6 col-md-3 headerBtn">Menu3</div></a>
			<a href="#"><div class="col-xs-12 col-sm-6 col-md-3 headerBtn">Menu4</div></a>
		</div>
	</div>
	<!--//headerNav-->

	<!--section-->
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="box clearfix">
						<div class="col-xs-6 col-sm-12">
							<img src="http://jsrun.it/assets/a/P/s/3/aPs3C.jpg" alt="" class="img-responsive" style="width: 100%;" />
						</div>
						<div class="col-xs-6 col-sm-12">アジサイ（紫陽花、学名 Hydrangea macrophylla）は、アジサイ科アジサイ属の落葉低木の一種である。広義には「アジサイ」の名はアジサイ属植物の一部の総称でもある。</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="box clearfix">
						<div class="col-xs-6 col-sm-12">
							<img src="http://jsrun.it/assets/u/4/m/8/u4m83.jpg" alt="" class="img-responsive" style="width: 100%;" />
						</div>
						<div class="col-xs-6 col-sm-12">コアラ（子守熊、学名:Phascolarctos cinereus）は、有袋類カンガルー目コアラ科コアラ属で現存する唯一の種。オーストラリア東部の森林地帯やユーカリの林などに生息している。</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="box clearfix">
						<div class="col-xs-6 col-sm-12">
							<img src="http://jsrun.it/assets/g/U/y/g/gUygq.jpg" alt="" class="img-responsive" style="width: 100%;" />
						</div>
						<div class="col-xs-6 col-sm-12">ペンギン (英語: penguin) は、鳥類ペンギン目（学名 Sphenisciformes）に属する種の総称である。ペンギン科（学名 Spheniscidae）のみが現生する。</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="box clearfix">
						<div class="col-xs-6 col-sm-12">
							<img src="http://jsrun.it/assets/2/V/g/s/2VgsW.jpg" alt="" class="img-responsive" style="width: 100%;" />
						</div>
						<div class="col-xs-6 col-sm-12">チューリップはユリ科チューリップ属の植物。球根ができ、形態は有皮鱗茎。和名は鬱金香（うこんこう、うっこんこう）、中近東ではラーレと呼ばれる。</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--//section-->

	<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 hidden-xs">
					<span class="guide"> Footer </span>
				</div>
			</div>
		</div>
	</div>
	<!--//footer-->

</body>
</html>



